#
# This file should be named ~/.lmtab
#

# Variables are possible. For example PATH, because fuser can't be found without it.
PATH=${PATH}:/usr/sbin

# example:
# archive all files:
# * in /opt/appsrv/jboss/server/cms/log
# * named *.log
# * retention for 30 days
#/opt/appsrv/jboss/server/cms/log *.log 30

# Attantion:
# No given time ("") means default retention time (60 days!).
# If you want to hold these files forever, say "0".
#/opt/webserver/log * 0

# / will be used as separator.
# More than one pattern in one directory.
#/opt/dbsrc/log *.log.*/*.log
